.header-container{
    display: flex;
    display: -webkit-flex;
    padding-left: 40px;
    padding-right: 40px;
}

.header-logo-container{
    display: flex;
    display: -webkit-flex;
    flex: 1 1 auto

}

.header-menu{
   
}

.header-menu.hidden{
    visibility: hidden;
}

.header-fiddler-logo-container{
    flex: 1 1 auto;
    padding-left: 150px;
    cursor: pointer;
}

.header-fiddler-logo{
    width: 180px;
}

.header-fiddler-text-container{
    flex: 1 1 auto;
    height: 70px;
    font-size: 25px;
    line-height: 70px;
    font-family: Avenir Next;
    font-weight: 500;
    cursor: pointer;
}

.header-reboot-logo-container{
    padding-right: 150px;
    text-align: center;
    cursor: pointer;
}

.header-menu-text{
    font-weight: bold
}

.header-menu-logo{
    width: 40px;
}

.header-reboot-logo{
    width: 200px;
    height: 50px;
}



/************************************************** Responsive Designs **********************************************/

/*** Mobile ***/

@media only screen and (max-width: 350px){
    .header-container {
        display: flex;
        display: -webkit-flex;
        padding-left: 10px;
        padding-right: 10px;
    }

    .header-menu-text{
        font-weight: bold;
        font-size: 8px;
    }

    .header-menu-logo{
        width: 20px;
    }

    .header-fiddler-logo-container{
        flex: 1 1 auto;
        padding-left: 15px;
        cursor: pointer;
    }

    .header-fiddler-logo{
        width: 70px;
    }


    .header-fiddler-text-container {
        flex: 1 1 auto;
        height: 40px;
        font-size: 10px;
        line-height: 70px;
        font-family: Avenir Next;
        font-weight: 500;
        cursor: pointer;
        line-height: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .header-reboot-logo-container {
        padding-right: 0px;
        text-align: center;
        cursor: pointer;
    }

    .header-reboot-logo{
        width: 91px;
        height: 29px;
    }
    
    

}

@media only screen and (min-width: 351px) and (max-width: 549px){
    .header-container {
        display: flex;
        display: -webkit-flex;
        padding-left: 20px;
        padding-right: 20px;
    }

    .header-menu-text{
        font-weight: bold;
        font-size: 10px;
    }

    .header-menu-logo{
        width: 25px;
    }

    .header-fiddler-logo-container{
        flex: 1 1 auto;
        padding-left: 20px;
        cursor: pointer;
    }

    .header-fiddler-logo{
        width: 76px;
    }


    .header-fiddler-text-container {
        flex: 1 1 auto;
        height: 40px;
        font-size: 10px;
        line-height: 70px;
        font-family: Avenir Next;
        font-weight: 500;
        cursor: pointer;
        line-height: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .header-reboot-logo-container {
        padding-right: 0px;
        text-align: center;
        cursor: pointer;
    }

    .header-reboot-logo{
        width: 100px;
        height: 33px;
    }
    
}


@media only screen and (min-width: 550px) and (max-width: 700px){
    .header-container {
        display: flex;
        display: -webkit-flex;
        padding-left: 20px;
        padding-right: 20px;
    }

    .header-menu-text{
        font-weight: bold;
        font-size: 10px;
    }

    .header-menu-logo{
        width: 25px;
    }

    .header-fiddler-logo-container{
        flex: 1 1 auto;
        padding-left: 20px;
        cursor: pointer;
    }

    .header-fiddler-logo{
        width: 76px;
    }


    .header-fiddler-text-container {
        flex: 1 1 auto;
        height: 40px;
        font-size: 10px;
        line-height: 70px;
        font-family: Avenir Next;
        font-weight: 500;
        cursor: pointer;
        line-height: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .header-reboot-logo-container {
        padding-right: 0px;
        text-align: center;
        cursor: pointer;
    }

    .header-reboot-logo{
        width: 100px;
        height: 33px;
    }
    
}

/*** Tablet ***/
@media only screen and (min-width: 701px) and (max-width: 767px){
    .header-container {
        display: flex;
        display: -webkit-flex;
        padding-left: 40px;
        padding-right: 40px;
    }

    .header-menu-text{
        font-weight: bold;
        font-size: 15px;
    }

    .header-menu-logo{
        width: 40px;
    }

    .header-fiddler-logo-container{
        flex: 1 1 auto;
        padding-left: 40px;
        cursor: pointer;
    }

    .header-fiddler-logo{
        width: 100px;
    }


    .header-fiddler-text-container {
        flex: 1 1 auto;
        height: 40px;
        font-size: 20px;
        line-height: 70px;
        font-family: Avenir Next;
        font-weight: 500;
        cursor: pointer;
        line-height: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .header-reboot-logo-container {
        padding-right: 0px;
        text-align: center;
        cursor: pointer;
    }

    .header-reboot-logo{
        width: 150px;
        height: 33px;
    }
    
}


@media only screen and (min-width: 768px) and (max-width: 1024px){
    .header-container {
        display: flex;
        display: -webkit-flex;
        padding-left: 40px;
        padding-right: 40px;
    }

    .header-menu-text{
        font-weight: bold;
        font-size: 15px;
    }

    .header-menu-logo{
        width: 40px;
    }

    .header-fiddler-logo-container{
        flex: 1 1 auto;
        padding-left: 40px;
        cursor: pointer;
    }

    .header-fiddler-logo{
        width: 100px;
    }


    .header-fiddler-text-container {
        flex: 1 1 auto;
        height: 40px;
        font-size: 20px;
        line-height: 70px;
        font-family: Avenir Next;
        font-weight: 500;
        cursor: pointer;
        line-height: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .header-reboot-logo-container {
        padding-right: 0px;
        text-align: center;
        cursor: pointer;
    }

    .header-reboot-logo{
        width: 150px;
        height: 33px;
    }
}


/*** Desktop ***/
@media only screen and (min-width: 1025px) and (max-width: 1199px){

}

/* Default */
@media only screen and (min-width: 1200px) and (max-width: 1918px){

}

/*** BigScreen ***/
@media only screen and (min-width: 1919px){
    
}


@media only screen and (max-height: 150px){

}


@media only screen and (min-height: 151px) and (max-height: 300px){

}


@media only screen and (min-height: 301px) and (max-height: 500px){

}


@media only screen and (min-height: 501px) and (max-height: 700px){

}


@media only screen and (min-height: 701px) and (max-height: 900px){

}


@media only screen and (min-height: 901px) and (max-height: 1100px){

}




