.complete-page-container{
    height: calc(100% - 200px);
    margin-top: 70px;
    padding-left: 250px;
    padding-right: 250px;
    font-size: 35px;
    text-align: center
}

.complete-page-heading{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
}


.complete-page-fade-in-container{
    background: linear-gradient(to bottom, rgba(198,142,48, 0.7), rgba(198,142,48, 0.7));
    height: 52px;
    position: relative;
    bottom: 52px;
}


/************************************************** Responsive Designs **********************************************/

/*** Mobile ***/

@media only screen and (max-width: 350px){
    .complete-page-container {
        height: calc(100% - 200px);
        margin-top: 70px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 20px;
        text-align: center;
        line-height: 30px
    }

    .complete-page-heading {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 25px;
    }
    .complete-page-fade-in-container {
        background: linear-gradient(to bottom, rgba(198,142,48, 0.7), rgba(198,142,48, 0.7));
        height: 52px;
        position: relative;
        bottom: 52px;
        /* width: 300px; */
    }
}

@media only screen and (min-width: 351px) and (max-width: 549px){
    .complete-page-container {
        height: calc(100% - 200px);
        margin-top: 70px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 25px;
        text-align: center;
        line-height: 30px
    }

    .complete-page-heading {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 25px;
    }
    .complete-page-fade-in-container {
        background: linear-gradient(to bottom, rgba(198,142,48, 0.7), rgba(198,142,48, 0.7));
        height: 52px;
        position: relative;
        bottom: 52px;
        /* width: 351px; */
    }
}


@media only screen and (min-width: 550px) and (max-width: 700px){
    .complete-page-container {
        height: calc(100% - 200px);
        margin-top: 70px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 25px;
        text-align: center;
        line-height: 30px
    }

    .complete-page-heading {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 25px;
    }
    .complete-page-fade-in-container {
        background: linear-gradient(to bottom, rgba(198,142,48, 0.7), rgba(198,142,48, 0.7));
        height: 52px;
        position: relative;
        bottom: 52px;
        /* width: 550px; */
    }
}

/*** Tablet ***/
@media only screen and (min-width: 701px) and (max-width: 767px){
    .complete-page-container {
        height: calc(100% - 200px);
        margin-top: 70px;
        padding-left: 70px;
        padding-right: 70px;
        font-size: 30px;
        text-align: center;
        line-height: 30px
    }

    .complete-page-heading {
        text-align: center;
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 25px;
    }
    .complete-page-fade-in-container {
        background: linear-gradient(to bottom, rgba(198,142,48, 0.7), rgba(198,142,48, 0.7));
        height: 52px;
        position: relative;
        bottom: 52px;
        /* width: 550px; */
    }
}


@media only screen and (min-width: 768px) and (max-width: 1024px){
    .complete-page-container {
        height: calc(100% - 200px);
        margin-top: 70px;
        padding-left: 70px;
        padding-right: 70px;
        font-size: 30px;
        text-align: center;
        line-height: 30px
    }

    .complete-page-heading {
        text-align: center;
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 25px;
    }
    .complete-page-fade-in-container {
        background: linear-gradient(to bottom, rgba(198,142,48, 0.7), rgba(198,142,48, 0.7));
        height: 52px;
        position: relative;
        bottom: 52px;
        /* width: 550px; */
    }
}


/*** Desktop ***/
@media only screen and (min-width: 1025px) and (max-width: 1199px){

}

/* Default */
@media only screen and (min-width: 1200px) and (max-width: 1918px){

}

/*** BigScreen ***/
@media only screen and (min-width: 1919px){
    
}


@media only screen and (max-height: 150px){

}


@media only screen and (min-height: 151px) and (max-height: 300px){

}


@media only screen and (min-height: 301px) and (max-height: 500px){

}


@media only screen and (min-height: 501px) and (max-height: 700px){

}


@media only screen and (min-height: 701px) and (max-height: 900px){

}


@media only screen and (min-height: 901px) and (max-height: 1100px){

}





