.complete-page-container{
    height: 520px;
    margin-top: 70px;
    padding-left: 250px;
    padding-right: 250px;
    font-size: 35px;
    text-align: center
}

.complete-page-heading{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
}


.complete-page-fade-in-container{
    background: linear-gradient(to bottom, rgba(198,142,48, 0.7), rgba(198,142,48, 0.7));
    height: 52px;
    position: relative;
    bottom: 52px;
    width: 850px;
}
