.landing-page-container{
    margin-top: 70px;
    padding-left: 250px;
    padding-right: 250px;
    font-size: 35px;
    text-align: center;
    height: calc(100% - 192px);
}

.landing-page-fade-in-container{
    background: linear-gradient(to bottom, rgba(198,142,48, 0.7), rgba(198,142,48, 0.7));
    height: 52px;
    position: relative;
    bottom: 52px;
   
}



/************************************** Start Button ********************************/

.start-button-main-container{
    height: 70px;
}

.start-button-container{
    display: flex;
    display: -webkit-flex;
    padding-left: 190px;
    padding-right: 190px;
    margin-top: 10px;

}

.start-button{
    width: 400px;
    height: 65px;
    background: #ffffff;
    line-height: 65px;
    color: #707070;
    font-weight: 500;
    text-align: center;
    border-radius: 18px;
    font-size: 20px;
    cursor: pointer;
}


/************************************************** Responsive Designs **********************************************/

/*** Mobile ***/

@media only screen and (max-width: 350px){

    .landing-page-container {
        height: calc(100% - 152px);
        margin-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 20px;
        text-align: center;
    }

    .landing-page-fade-in-container {
        background: linear-gradient(to bottom, rgba(198,142,48, 0.7), rgba(198,142,48, 0.7));
        height: 52px;
        position: relative;
        bottom: 52px;
    }

    .start-button-container {
        display: flex;
        display: -webkit-flex;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
    }

    .start-button {
        width: 145px;
        height: 40px;
        background: #ffffff;
        line-height: 40px;
        color: #707070;
        font-weight: 500;
        text-align: center;
        border-radius: 18px;
        font-size: 8px;
        cursor: pointer;
    }

    .start-button-main-container{
        height: 60px;
    }

}

@media only screen and (min-width: 351px) and (max-width: 549px){
    .landing-page-container {
        height: calc(100% - 155px);
        margin-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 20px;
        text-align: center;
    }

    .landing-page-fade-in-container {
        background: linear-gradient(to bottom, rgba(198,142,48, 0.7), rgba(198,142,48, 0.7));
        height: 52px;
        position: relative;
        bottom: 52px;

    }

    .start-button-container {
        display: flex;
        display: -webkit-flex;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 10px;
    }

    .start-button {
        width: 160px;
        height: 40px;
        background: #ffffff;
        line-height: 40px;
        color: #707070;
        font-weight: 500;
        text-align: center;
        border-radius: 18px;
        font-size: 9px;
        cursor: pointer;
    }

    .start-button-main-container{
        height: 60px;
    }
}


@media only screen and (min-width: 550px) and (max-width: 700px){
    .landing-page-container {
        height: calc(100% - 155px);
        margin-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 20px;
        text-align: center;
    }

    .landing-page-fade-in-container {
        background: linear-gradient(to bottom, rgba(198,142,48, 0.7), rgba(198,142,48, 0.7));
        height: 52px;
        position: relative;
        bottom: 52px;

    }

    .start-button-container {
        display: flex;
        display: -webkit-flex;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 10px;
    }

    .start-button {
        width: 160px;
        height: 40px;
        background: #ffffff;
        line-height: 40px;
        color: #707070;
        font-weight: 500;
        text-align: center;
        border-radius: 18px;
        font-size: 9px;
        cursor: pointer;
    }

    .start-button-main-container{
        height: 60px;
    }
}

/*** Tablet ***/
@media only screen and (min-width: 701px) and (max-width: 767px){
    .landing-page-container {
        height: calc(100% - 162px);
        margin-top: 50px;
        padding-left: 100px;
        padding-right: 100px;
        font-size: 30px;
        text-align: center;
    }

    .landing-page-fade-in-container {
        background: linear-gradient(to bottom, rgba(198,142,48, 0.7), rgba(198,142,48, 0.7));
        height: 52px;
        position: relative;
        bottom: 82px;

    }

    .start-button-container {
        display: flex;
        display: -webkit-flex;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 10px;
    }

    .start-button {
        width: 300px;
        height: 45px;
        background: #ffffff;
        line-height: 45px;
        color: #707070;
        font-weight: 500;
        text-align: center;
        border-radius: 18px;
        font-size: 13px;
        cursor: pointer;
    }

    .start-button-main-container{
        height: 60px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1024px){
    .landing-page-container {
        height: calc(100% - 162px);
        margin-top: 50px;
        padding-left: 100px;
        padding-right: 100px;
        font-size: 30px;
        text-align: center;
    }

    .landing-page-fade-in-container {
        background: linear-gradient(to bottom, rgba(198,142,48, 0.7), rgba(198,142,48, 0.7));
        height: 52px;
        position: relative;
        bottom: 52px;

    }

    .start-button-container {
        display: flex;
        display: -webkit-flex;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 10px;
    }

    .start-button {
        width: 300px;
        height: 45px;
        background: #ffffff;
        line-height: 45px;
        color: #707070;
        font-weight: 500;
        text-align: center;
        border-radius: 18px;
        font-size: 13px;
        cursor: pointer;
    }

    .start-button-main-container{
        height: 60px;
    }
}


/*** Desktop ***/
/* @media only screen and (min-width: 1025px) and (max-width: 1199px){

}


@media only screen and (min-width: 1200px) and (max-width: 1918px){

} */

/*** BigScreen ***/
/* @media only screen and (min-width: 1919px){
    
}
 */

/* @media only screen and (max-height: 150px){
    .landing-page-container{
        height: 50px;
      
    }
}


@media only screen and (min-height: 151px) and (max-height: 300px){
    .landing-page-container{
        height: 80px;
      
    }
}


@media only screen and (min-height: 301px) and (max-height: 500px){
    .landing-page-container{
        height: 150px;
      
    }
}


@media only screen and (min-height: 501px) and (max-height: 700px){
    .landing-page-container{
        height: 400px;
       
    }
}


@media only screen and (min-height: 701px) and (max-height: 900px){
    .landing-page-container{
        height: 500px;
       
    }
}


@media only screen and (min-height: 901px) and (max-height: 1100px){
    .landing-page-container{
        height: 600px;
       
    }
}
 */


