.questions-container{
    margin-top: 70px;
    height: calc(100% - 100px);
}

.questions-all-data-container{
    padding-left: 70px;
    padding-right: 70px;
}

.questions-data-container{
    min-height: 450px;
    font-size: 35px;
}

.questions-number-data {

}

.questions-data{
    margin-left: 42px;
    flex: 1 1 auto;
}

.questions-text-data{
    line-height: 44px;
    position: relative;
    top: -13px;
}

.questions-description-data{
    margin-top: 28px;
}

.questions-description-data textarea{
    background: transparent;
    border: none;
    outline: none;
}

.questions-description-data .ui.form textarea {
    margin: 0;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255,255,255,0);
    padding: 0px;
    background: transparent;
    border: none;
    outline: 0;
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 0 transparent inset;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
    font-size: 35px;
    line-height: 1.2857;
    resize: vertical;
}


.questions-description-data .ui.form textarea:focus {
    color: rgba(0,0,0,.95);
    border-color: none;
    border-radius: .28571429rem;
    background: transparent;
    -webkit-box-shadow: 0 0 0 0 rgba(34,36,38,.35) inset;
    box-shadow: 0 0 0 0 rgba(34,36,38,.35) inset;
    -webkit-appearance: none;
}

.questions-data .ui.input>input{
    background: transparent;
    border: none;
    height: 35px;
    line-height: 35px;
    padding: 0px;
}

.input-container{
    padding-left: 15px;
}

.record-video-container{
    width: 380px;
    /* line-height: 80px; */
    height: 80px;
    background: #ffffff;
    border-radius: 18px;
    font-size: 25px;
    border: solid 1px #707070;
    padding: 0 30px;
    cursor: pointer;
    padding-top: 10px;
}

.record-video-icon{
    position: relative;
    top: 7px;
    padding-top: 10px;
}

.record-video-text{
    margin-left: 15px;
    position: relative;
    top: -6px;
}

.last-question{
    height: 350px;
}

.record-video-support-version{
    font-size: 13px;
    margin-top: 5px;
    margin-left: 50px;
}



/*********************************************** Question Footer *********************************/

.question-footer-container{
    height: 80px;
    line-height: 80px;
    border: solid 1px #707070;
  background-color: rgba(255, 255, 255, 0.5);

  display: flex;
  align-items: center;

}

.question-footer-text{
    margin-left: 150px;
    font-size: 25px;
    position: relative;
    bottom: 0;
    flex: 1 1 auto;
}

.question-footer-conatiner{
    
}

.question-footer{
    height: 40px;
    line-height: 40px;
    width: 100px;
    color: #000;
    background: #ffffff;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}



/************************************************** Responsive Designs **********************************************/

/*** Mobile ***/

@media only screen and (max-width: 350px){
    .questions-container {
        margin-top: 50px;
        height: calc(100% - 70px);
    }

    .questions-all-data-container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .questions-data-container {
        height: 200px;
        font-size: 15px;
    }

    .questions-data {
        margin-left: 20px;
        flex: 1 1 auto;
    }

    .questions-text-data {
        line-height: 25px;
        position: relative;
        top: -3px;
    }

    .questions-description-data {
        margin-top: 10px;
    }

  
    
    .questions-description-data .ui.form textarea {
        margin: 0;
        -webkit-appearance: none;
        tap-highlight-color: rgba(255,255,255,0);
        padding: 0px;
        background: transparent;
        border: none;
        outline: 0;
        color: rgba(0,0,0,.87);
        border-radius: .28571429rem;
        -webkit-box-shadow: 0 0 0 0 transparent inset;
        box-shadow: 0 0 0 0 transparent inset;
        -webkit-transition: color .1s ease,border-color .1s ease;
        transition: color .1s ease,border-color .1s ease;
        font-size: 15px;
        line-height: 1.2857;
        resize: vertical;
    }

    .questions-data .ui.input>input{
        background: transparent;
        border: none;
        height: 35px;
        width: 150px;
        line-height: 35px;
        padding: 0px;
        font-size: 14px;
    }

    .record-video-container {
        width: 250px;
        /* line-height: 55px; */
        height: 55px;
        background: #ffffff;
        border-radius: 18px;
        font-size: 14px;
        border: solid 1px #707070;
        padding: 0 10px;
        cursor: pointer;
    }

    .record-video-icon {
        position: relative;
        top: 7px;
        padding-top: 10px;
    }

    .question-footer-container {
        height: 80px;
        line-height: 80px;
        border: solid 1px #707070;
        background-color: rgba(255, 255, 255, 0.5);
      
        display: flex;
        align-items: center;
    }

    .question-footer-text {
        margin-left: 30px;
        font-size: 18px;
        position: relative;
        bottom: 0;
        flex: 1 1 auto;
    }

    .last-question{
        height: 200px;
    }

    .record-video-support-version{
        font-size: 9px;
        /* margin-top: 5px; */
        margin-left: 38px;
    }
    
    
  
}


@media only screen and (min-width: 351px) and (max-width: 549px){
    .questions-container {
        margin-top: 50px;
        height: calc(100% - 70px);
    }

    .questions-all-data-container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .questions-data-container {
       
        height: 250px;
        font-size: 20px;
    }

    .questions-data {
        margin-left: 20px;
        flex: 1 1 auto;
    }

    .questions-text-data {
        line-height: 44px;
        position: relative;
        top: -13px;
    }

    .questions-description-data {
        margin-top: 10px;
    }

  
    
    .questions-description-data .ui.form textarea {
        margin: 0;
        -webkit-appearance: none;
        tap-highlight-color: rgba(255,255,255,0);
        padding: 0px;
        background: transparent;
        border: none;
        outline: 0;
        color: rgba(0,0,0,.87);
        border-radius: .28571429rem;
        -webkit-box-shadow: 0 0 0 0 transparent inset;
        box-shadow: 0 0 0 0 transparent inset;
        -webkit-transition: color .1s ease,border-color .1s ease;
        transition: color .1s ease,border-color .1s ease;
        font-size: 20px;
        line-height: 1.2857;
        resize: vertical;
    }

    .questions-data .ui.input>input{
        background: transparent;
        border: none;
        height: 35px;
        width: 150px;
        line-height: 35px;
        padding: 0px;
        font-size: 17px;
    }

    .record-video-container {
        width: 250px;
        /* line-height: 55px; */
        height: 55px;
        background: #ffffff;
        border-radius: 18px;
        font-size: 14px;
        border: solid 1px #707070;
        padding: 0 10px;
        cursor: pointer;
    }

    .record-video-icon {
        position: relative;
        top: 7px;
        padding-top: 10px;
    }

    .question-footer-container {
        height: 80px;
        line-height: 80px;
        border: solid 1px #707070;
        background-color: rgba(255, 255, 255, 0.5);
       
        display: flex;
        align-items: center;
    }

    .question-footer-text {
        margin-left: 30px;
        font-size: 18px;
        position: relative;
        bottom: 0;
        flex: 1 1 auto;
    }

    .last-question{
        height: 250px;
    }

    .record-video-support-version{
        font-size: 10px;
        /* margin-top: 5px; */
        margin-left: 38px;
    }
    
    
    
}


@media only screen and (min-width: 550px) and (max-width: 700px){
    .questions-container {
        margin-top: 50px;
        height: calc(100% - 70px);
    }

    .questions-all-data-container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .questions-data-container {
        height: 250px;
     
        font-size: 20px;
    }

    .questions-data {
        margin-left: 20px;
        flex: 1 1 auto;
    }

    .questions-text-data {
        line-height: 44px;
        position: relative;
        top: -13px;
    }

    .questions-description-data {
        margin-top: 10px;
    }

  
    
    .questions-description-data .ui.form textarea {
        margin: 0;
        -webkit-appearance: none;
        tap-highlight-color: rgba(255,255,255,0);
        padding: 0px;
        background: transparent;
        border: none;
        outline: 0;
        color: rgba(0,0,0,.87);
        border-radius: .28571429rem;
        -webkit-box-shadow: 0 0 0 0 transparent inset;
        box-shadow: 0 0 0 0 transparent inset;
        -webkit-transition: color .1s ease,border-color .1s ease;
        transition: color .1s ease,border-color .1s ease;
        font-size: 20px;
        line-height: 1.2857;
        resize: vertical;
    }

    .questions-data .ui.input>input{
        background: transparent;
        border: none;
        height: 35px;
        width: 150px;
        line-height: 35px;
        padding: 0px;
        font-size: 17px;
    }

    .record-video-container {
        width: 250px;
        /* line-height: 55px; */
        height: 55px;
        background: #ffffff;
        border-radius: 18px;
        font-size: 14px;
        border: solid 1px #707070;
        padding: 0 10px;
        cursor: pointer;
    }

    .record-video-icon {
        position: relative;
        top: 7px;
        padding-top: 10px;
    }

    .question-footer-container {
        height: 80px;
        line-height: 80px;
        border: solid 1px #707070;
        background-color: rgba(255, 255, 255, 0.5);
       
        display: flex;
        align-items: center;
    }

    .question-footer-text {
        margin-left: 30px;
        font-size: 18px;
        position: relative;
        bottom: 0;
        flex: 1 1 auto;
    }

    .last-question{
        height: 250px;
    }

    .record-video-support-version{
        font-size: 9px;
        /* margin-top: 5px; */
        margin-left: 38px;
    }
    
}

/*** Tablet ***/
@media only screen and (min-width: 701px) and (max-width: 767px){
    .questions-container {
        margin-top: 50px;
        height: calc(100% - 70px);
    }

    .questions-all-data-container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .questions-data-container {
    
      height: 250px;
        font-size: 20px;
    }

    .questions-data {
        margin-left: 20px;
        flex: 1 1 auto;
    }

    .questions-text-data {
        line-height: 44px;
        position: relative;
        top: -13px;
    }

    .questions-description-data {
        margin-top: 10px;
    }

  
    
    .questions-description-data .ui.form textarea {
        margin: 0;
        -webkit-appearance: none;
        tap-highlight-color: rgba(255,255,255,0);
        padding: 0px;
        background: transparent;
        border: none;
        outline: 0;
        color: rgba(0,0,0,.87);
        border-radius: .28571429rem;
        -webkit-box-shadow: 0 0 0 0 transparent inset;
        box-shadow: 0 0 0 0 transparent inset;
        -webkit-transition: color .1s ease,border-color .1s ease;
        transition: color .1s ease,border-color .1s ease;
        font-size: 20px;
        line-height: 1.2857;
        resize: vertical;
    }

    .questions-data .ui.input>input{
        background: transparent;
        border: none;
        height: 35px;
        width: 150px;
        line-height: 35px;
        padding: 0px;
        font-size: 17px;
    }

    .record-video-container {
        width: 250px;
        /* line-height: 55px; */
        height: 55px;
        background: #ffffff;
        border-radius: 18px;
        font-size: 14px;
        border: solid 1px #707070;
        padding: 0 10px;
        cursor: pointer;
    }

    .record-video-icon {
        position: relative;
        top: 7px;
        padding-top: 10px;
    }

    .question-footer-container {
        height: 80px;
        line-height: 80px;
        border: solid 1px #707070;
        background-color: rgba(255, 255, 255, 0.5);
       
        display: flex;
        align-items: center;
    }

    .question-footer-text {
        margin-left: 30px;
        font-size: 18px;
        position: relative;
        bottom: 0;
        flex: 1 1 auto;
    }

    .last-question{
        height: 250px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1024px){
    .questions-container {
        margin-top: 50px;
        height: calc(100% - 70px);
    }

    .questions-all-data-container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .questions-data-container {
    
      height: 250px;
        font-size: 20px;
    }

    .questions-data {
        margin-left: 20px;
        flex: 1 1 auto;
    }

    .questions-text-data {
        line-height: 44px;
        position: relative;
        top: -13px;
    }

    .questions-description-data {
        margin-top: 10px;
    }

  
    
    .questions-description-data .ui.form textarea {
        margin: 0;
        -webkit-appearance: none;
        tap-highlight-color: rgba(255,255,255,0);
        padding: 0px;
        background: transparent;
        border: none;
        outline: 0;
        color: rgba(0,0,0,.87);
        border-radius: .28571429rem;
        -webkit-box-shadow: 0 0 0 0 transparent inset;
        box-shadow: 0 0 0 0 transparent inset;
        -webkit-transition: color .1s ease,border-color .1s ease;
        transition: color .1s ease,border-color .1s ease;
        font-size: 20px;
        line-height: 1.2857;
        resize: vertical;
    }

    .questions-data .ui.input>input{
        background: transparent;
        border: none;
        height: 35px;
        width: 150px;
        line-height: 35px;
        padding: 0px;
        font-size: 17px;
    }

    .record-video-container {
        width: 250px;
        /* line-height: 55px; */
        height: 55px;
        background: #ffffff;
        border-radius: 18px;
        font-size: 14px;
        border: solid 1px #707070;
        padding: 0 10px;
        cursor: pointer;
    }

    .record-video-icon {
        position: relative;
        top: 7px;
        padding-top: 10px;
    }

    .question-footer-container {
        height: 80px;
        line-height: 80px;
        border: solid 1px #707070;
        background-color: rgba(255, 255, 255, 0.5);
       
        display: flex;
        align-items: center;
    }

    .question-footer-text {
        margin-left: 30px;
        font-size: 18px;
        position: relative;
        bottom: 0;
        flex: 1 1 auto;
    }

    .last-question{
        height: 250px;
    }
}


/*** Desktop ***/
@media only screen and (min-width: 1025px) and (max-width: 1199px){

}

/* Default */
@media only screen and (min-width: 1200px) and (max-width: 1918px){

}

/*** BigScreen ***/
@media only screen and (min-width: 1919px){
    
}



