.review-page-container{
    margin-top: 70px;
}

.review-page-heading{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.review-page-text-1{
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
}

.review-page-text-2{
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
}

.review-page-button-container{
    display: flex;
    justify-content: center;
}

.review-page-button{
   text-align: center;
    margin-top: 70px;
    width: 300px;
    height: 60px;
    line-height: 60px;
    border-radius: 18px;
    border: solid 1px #707070;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: #dfa02f;
    cursor: pointer;
}


/************************************************** Responsive Designs **********************************************/

/*** Mobile ***/

@media only screen and (max-width: 350px){
    .review-page-heading {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }

    .review-page-heading {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }

    .review-page-text-1 {
        text-align: center;
        margin-top: 50px;
        font-size: 20px;
        line-height: 20px;
    }

    .review-page-text-2 {
        text-align: center;
        font-size: 20px;
        line-height: 20px;
        margin-top: 15px;
    }

    .review-page-button {
        text-align: center;
        margin-top: 70px;
        width: 250px;
        height: 60px;
        line-height: 60px;
        border-radius: 18px;
        border: solid 1px #707070;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        font-size: 20px;
        font-weight: bold;
        color: #dfa02f;
        cursor: pointer;
    }

    
}

@media only screen and (min-width: 351px) and (max-width: 549px){
    .review-page-heading {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }

    .review-page-heading {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }

    .review-page-text-1 {
        text-align: center;
        margin-top: 50px;
        font-size: 20px;
        line-height: 20px;
    }

    .review-page-text-2 {
        text-align: center;
        font-size: 20px;
        line-height: 20px;
        margin-top: 15px;
    }

    .review-page-button {
        text-align: center;
        margin-top: 70px;
        width: 250px;
        height: 60px;
        line-height: 60px;
        border-radius: 18px;
        border: solid 1px #707070;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        font-size: 20px;
        font-weight: bold;
        color: #dfa02f;
        cursor: pointer;
    }
}


@media only screen and (min-width: 550px) and (max-width: 700px){
    .review-page-heading {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }

    .review-page-heading {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }

    .review-page-text-1 {
        text-align: center;
        margin-top: 50px;
        font-size: 20px;
        line-height: 20px;
    }

    .review-page-text-2 {
        text-align: center;
        font-size: 20px;
        line-height: 20px;
        margin-top: 15px;
    }

    .review-page-button {
        text-align: center;
        margin-top: 70px;
        width: 250px;
        height: 60px;
        line-height: 60px;
        border-radius: 18px;
        border: solid 1px #707070;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        font-size: 20px;
        font-weight: bold;
        color: #dfa02f;
        cursor: pointer;
    }
}

/*** Tablet ***/
@media only screen and (min-width: 701px) and (max-width: 767px){

}


@media only screen and (min-width: 768px) and (max-width: 1024px){

}


/*** Desktop ***/
@media only screen and (min-width: 1025px) and (max-width: 1199px){

}

/* Default */
@media only screen and (min-width: 1200px) and (max-width: 1918px){

}

/*** BigScreen ***/
@media only screen and (min-width: 1919px){
    
}


@media only screen and (max-height: 150px){

}


@media only screen and (min-height: 151px) and (max-height: 300px){

}


@media only screen and (min-height: 301px) and (max-height: 500px){

}


@media only screen and (min-height: 501px) and (max-height: 700px){

}


@media only screen and (min-height: 701px) and (max-height: 900px){

}


@media only screen and (min-height: 901px) and (max-height: 1100px){

}

