.navigator-container{
    height: 100%;
    width: 100%;

}

.navigator-container .ui.thin.left.sidebar, .ui.thin.right.sidebar{
    width: auto !important;
}

/********************************************** Responsive Designs ***********************************************/


@media only screen and (max-width: 600px) {

    .navigator-container .ui.thin.left.sidebar, .ui.thin.right.sidebar {
        width: 250px !important;
    }
}

@media only screen and (max-width: 320px) {

    .navigator-container .ui.thin.left.sidebar, .ui.thin.right.sidebar {
        width: 250px !important;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .navigator-container .ui.thin.left.sidebar, .ui.thin.right.sidebar {
        width: 350px !important;
    }
    
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .navigator-container .ui.thin.left.sidebar, .ui.thin.right.sidebar {
        width: 450px !important;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
